{% extends 'layout.html' %}

{% block title%} {{coche.2}} {{ super() }}{% endblock %}

{% block content %}
{% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
                <div class='success'> 
                    {{message}}
                </div>
            {% endfor %}
        {% endif %}
    {% endwith %}
    
    <h1>{{coche.1}}</h1>
        
    <span class="date">
        {{coche.2}}
        |
        {{coche.3}}
    </span>
    <p>
        {{coche.4}}
    </p>

{% endblock %}