<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <title>{% block title %} | Aprendiendo Flask{% endblock %}</title>
</head>
<body>
    <!-- Cabecera de la pagina -->
    <header>
        <div id="logotipo">
            <img src="{{ url_for('static', filename='img/flask_logo.png') }}" alt="Logo de Flask">
            <h1>Sitio Web con Flask</h1>
        </div>
    </header>
    <nav>
        <ul>
            <li>
                <a href="/">Inicio</a>
            </li>
            <li>
                <a href="{{ url_for('information') }}">Informacion</a>
            </li>
            <li>
                <a href="{{ url_for('crear_coche') }}">Crear coche</a>
            </li>
            <li>
                <a href="{{ url_for('coches') }}">Lista de coches</a>
            </li>
            <li>
                <a href="{{ url_for('contact') }}">Contacto</a>
            </li>
            <li>
                <a href="{{ url_for('lenguage') }}">Lenguajes</a>
            </li>
        </ul>
    </nav>

    <!-- Para realizar efecto 3D-->
    <div class="barra">
        <span class="esquina-izq"></span>
        <span class="relleno"></span>
        <span class="esquina-der"></span>
    </div>
    <div id="content">
        <div class="box">
            {% block content %}
    
            {% endblock%}
        </section>
    </div>

    <footer>
        Aprendiendo Flask &copy; | Luciano Valenzuela - {{now.year}}/{{now.month}}/{{now.day}}
    </footer>
</body>
</html>